*{
  margin: 0;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
  height: 100vh;
  /* padding-top: 10rem; */
  /* background-color: rgba(0, 0,0, .0); */
  background-color:rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

}

.text_color{
  color: white;
}
.app_left {
  flex: 0.9;  
}
.app_right{
  background-color:rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  height: 80vh;
  color: white;
  overflow-x: hidden;
}
Table {
  overflow-x: hidden;
}

::-webkit-scrollbar {
width: 0;
}
 
.app_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.app_stats {
  display: flex;
  justify-content: space-between;

}
@media(max-width: 990px){
  .app {
    flex-direction: column;
  }
}



.main{
  height: 100vh;
  overflow: hidden;
  background-repeat: repeat;
  background-image: url(./assets/corona.jpg);

  
}

